{% extends 'templates/base.html' %}

{% block includes %}
    <style>
        .mdl-card {
            display: inline-block;
            width: 22vw;
        }
        .spacer {
            display: inline-block;
            width: 4vw;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="mdl-grid center-items">
        <div class="mdl-cell mdl-cell--12-col" style="text-align: center;">
            <span style="font-size: 5vh;">Meet the Members of GoCooking!</span>
        </div>
    </div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col" style="text-align: center;">
            <div class="spacer"></div>
            <div class="mdl-card mdl-shadow--4dp">
                <div class="mdl-card__title" style="font-size:4vh; justify-content:center;">Cameron Amos</div>
                <div class="mdl-card__media mdl-color--white">
                    {% load static %}
                    <img style="height:18vh;" src="{% static 'images/members/cameron.png' %}">
                </div>
                <div class="mdl-card__supporting-text">
                </div>
            </div>
            <div class="spacer"></div>
        </div>
        <div class="mdl-cell mdl-cell--4-col" style="text-align: center;">
            <div class="spacer"></div>
            <div class="mdl-card mdl-shadow--4dp">
                <div class="mdl-card__title" style="font-size:4vh; justify-content:center;">Jackie Gonzalez</div>
                <div class="mdl-card__media mdl-color--white">
                    {% load static %}
                    <img style="height:18vh;" src="{% static 'images/members/jackie.png' %}">
                </div>
                <div class="mdl-card__supporting-text">
                </div>
            </div>
            <div class="spacer"></div>
        </div>
        <div class="mdl-cell mdl-cell--4-col" style="text-align: center;">
            <div class="spacer"></div>
            <div class="mdl-card mdl-shadow--4dp">
                <div class="mdl-card__title" style="font-size:4vh; justify-content:center;">Neil Marklund</div>
                <div class="mdl-card__media mdl-color--white">
                    {% load static %}
                    <img style="height:18vh;" src="{% static 'images/members/neil.png' %}">
                </div>
                <div class="mdl-card__supporting-text">
                </div>
            </div>
            <div class="spacer"></div>
        </div>
    </div>
    <div class="mdl-grid" style="height:1vh;"></div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--2-col"></div>
        <div class="mdl-cell mdl-cell-4-col">
            <div class="spacer"></div>
            <div class="mdl-card mdl-shadow--4dp" style="text-align: center;">
                <div class="mdl-card__title" style="font-size:4vh; justify-content:center;">Dominic Nguyen</div>
                <div class="mdl-card__media mdl-color--white">
                    {% load static %}
                    <img style="height:18vh;" src="{% static 'images/members/dominic.png' %}">
                </div>
                <div class="mdl-card__supporting-text">
                </div>
            </div>
            <div class="spacer"></div>
        </div>
        <div class="mdl-cell mdl-cell--4-col" style="text-align: center;">
            <div class="spacer"></div>
            <div class="mdl-card mdl-shadow--4dp">
                <div class="mdl-card__title" style="font-size:4vh; justify-content:center;">Haui Wu</div>
                <div class="mdl-card__media mdl-color--white">
                    {% load static %}
                    <img style="height:18vh;" src="{% static 'images/members/haui.png' %}">
                </div>
                <div class="mdl-card__supporting-text">
                </div>
            </div>
            <div class="spacer"></div>
        </div>
        <div class="mdl-cell mdl-cell--2-col"></div>
    </div>
{% endblock %}