{% extends 'templates/base.html' %}

{% block includes %}
    <style>
        .mdl-card {
            display: inline-block;
            width: 22vw;
        }
        .spacer {
            display: inline-block;
            width: 4vw;
        }
        .picture {
            height:26vh;
            border-radius:50%;
            box-sizing: border-box;
        }
        .picture:hover {
            border-style: solid;
            border-color: #2196F3;
            border-width: 0.25vw;
        }
    </style>
{% endblock %}

{% block navbar %}
    <a class="mdl-navigation__link" href="/login" style="font-size: 3vh;">Back</a>
{% endblock %}

{% block drawer %}
    <a class="mdl-navigation__link" href="/logout" style="font-size: 3vh;">Back</a>
{% endblock %}

{% block content %}
    <div class="mdl-grid center-items">
        <div class="mdl-cell mdl-cell--12-col" style="text-align: center;">
            <span style="font-size: 5vh;">Meet the Members of GoCooking!</span>
        </div>
    </div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col" style="text-align: center;">
            <div>
                <p style="font-size:4vh;" align="center">Cameron Amos</p>
                {% load static %}
                <img class="picture mdl-shadow--4dp" onclick="var win=window.open('', '_blank');win.focus();" src="{% static 'images/members/cameron.png' %}">
            </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col" style="text-align: center;">
            <div>
                <p style="font-size:4vh;" align="center">Jackie Gonzalez</p>
                {% load static %}
                <img class="picture mdl-shadow--4dp" onclick="var win=window.open('', '_blank');win.focus();" src="{% static 'images/members/jackie.png' %}">
            </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col" style="text-align: center;">
            <div>
                <p style="font-size:4vh;" align="center">Neil Marklund</p>
                {% load static %}
                <img class="picture mdl-shadow--4dp" onclick="var win=window.open('https://github.com/nmarklund10', '_blank');win.focus();" src="{% static 'images/members/neil.png' %}">
            </div>
        </div>
    </div>
    <div class="mdl-grid" style="height:1vh;"></div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--2-col"></div>
        <div class="mdl-cell mdl-cell-4-col" style="text-align: center;">
            <div>
                <p style="font-size:4vh;" align="center">Dominic Nguyen</p>
                {% load static %}
                <img class="picture mdl-shadow--4dp" onclick="var win=window.open('', '_blank');win.focus();" src="{% static 'images/members/dominic.png' %}">
            </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col" style="text-align: center;">
            <div>
                <p style="font-size:4vh;" align="center">Huai Wu</p>
                {% load static %}
                <img class="picture mdl-shadow--4dp" onclick="var win=window.open('', '_blank');win.focus();" src="{% static 'images/members/huai.png' %}">
            </div>
        </div>
        <div class="mdl-cell mdl-cell--2-col"></div>
    </div>
{% endblock %}