<!DOCTYPE html>
<html>
    <head>
        <title>MealMentor</title>
        <meta charset="UTF-8">
        {% load static %}        
        <link rel="shortcut icon" type="image/png" href="{% static 'images/logo.png' %}"/>
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue-pink.min.css">
        <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        {% csrf_token %}
        <script>
            var csrf_token = document.getElementsByName("csrfmiddlewaretoken")[0].value.toString();
        </script>
        {% load static %}
        <script type="text/javascript" src="{% static 'js/helper.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/template.css' %}">
        {% block includes %}
        {% endblock %}
    </head>
    <body>
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <header class="mdl-layout__header --waterfall">
                <div class="mdl-layout__header-row">
                    {% load static %}
                    <img style="max-width:70%; max-height:70%;" src="{% static 'images/logo.png' %}"></img>
                    <span style="padding-left:1vw" class="mdl-layout-title">MealMentor</span>
                </div>
            </header>
            <div class="mdl-layout__drawer">
                <span class="mdl-layout-title">MealMentor</span>
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="">Link</a>
                    <a class="mdl-navigation__link" href="">Link</a>
                    <a class="mdl-navigation__link" href="">Link</a>
                    <a class="mdl-navigation__link" href="">Link</a>
                </nav>
            </div>
            <main class="mdl-layout__content">
                {% block content %}
                {% endblock %}
            </main>
            {% block footer %}
            {% endblock %}         
        </div>            
    </body>
</html>