<!DOCTYPE html>
<html>
    <head>
        <title>MealMentor</title>
        <meta charset="UTF-8">
        {% load static %}        
        <link rel="shortcut icon" type="image/png" href="{% static 'images/logo.png' %}"/>
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue-pink.min.css">
        <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
        {% csrf_token %}
        <script>
            var csrf_token = document.getElementsByName("csrfmiddlewaretoken")[0].value.toString();
        </script>
        {% load static %}
        <script type="text/javascript" src="{% static 'js/helper.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/template.css' %}">
        {% block includes %}
        {% endblock %}
    </head>
    <body>
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <header class="mdl-layout__header --waterfall">
                <div class="mdl-layout__header-row">
                    {% load static %}
                    <img style="max-width:70%; max-height:70%; cursor:pointer;" onclick="goToUrl('/');" src="{% static 'images/logo.png' %}"></img>
                    <span style="padding-left:1vw; cursor:pointer;" onclick="goToUrl('/');" class="mdl-layout-title">MealMentor</span>
                    <div class="mdl-layout-spacer"></div>
                    <nav class="mdl-navigation mdl-layout--large-screen-only">
                        {% block navbar %}                        
                        {% endblock %}
                    </nav>
                </div>
            </header>
            <div class="mdl-layout__drawer">
                <span class="mdl-layout-title">MealMentor</span>
                <nav class="mdl-navigation">
                    {% block drawer %}
                    {% endblock %}
                </nav>
            </div>
            <main class="mdl-layout__content">
                {% block content %}
                {% endblock %}
            </main>
            <footer class="mdl-mini-footer mdl-color--blue-grey" style="padding-bottom: 0; padding-top:10px;">
                <div class="mdl-mini-footer__left-section" style="margin-bottom: 10px">
                    <div class="mdl-layout-title" style="font-size: 16px; color:#eef1f5;">
                        GoCooking &copy;2018
                    </div>
                </div>
                <div class="mdl-mini-footer__right-section" style="margin-bottom: 10px">
                    <div class="mdl-layout-title" style="font-size: 16px; color:#eef1f5;">
                        Texas A&amp;M University
                    </div>
                </div>
            </footer>        
        </div>            
    </body>
</html>