{% extends 'templates/base_no_footer.html' %}

{% block includes %}
    {% load static %}
        <script type="text/javascript" src="{% static 'js/dashboard.js' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        window.onload = getRecipes;
    </script>
 
    <style>
        @font-face {
            font-family: "Icons";
            src: url("/static/css/fonts/icons.eot");
            src: 
            url("/static/css/fonts/icons.woff") format("woff"),
            url("/static/css/fonts/icons.otf") format("opentype"),
            url("/static/css/fonts/icons.svg#filename") format("svg");
        }
        .card-grid {
            padding: 1vh 0;
            width: 100vw;
        }
        .button-cell {
            width: 20vw;
            margin: 0;
        }
        .card-cell {
            width: 60vw;
            margin: 0;
        }
        .center-items {
            justify-content: center;
            margin:0;
        }
        .center-text {
            text-align: center;
            margin:0;
        }
        .mdl-card {
            display: inline-block;
            width: 100%;
            height: 60vh;
        }
        .mdl-dialog {
            width: 80vw;
            height: 90vh;
        }
        .mdl-dialog__title {
            height: 5vh;
            width: 80vw;
            font-size: 5vh;
            padding: 1vh 2vw 0;
        }
        .mdl-card__media {
            background-color: white;
        }
        .mdl-dialog__content {
            height: 70vh;
            width: 75vw;
            overflow-y: scroll;
            padding: 1vh 2vw;
        }
        .mdl-dialog__actions {
            height: 10vh;
            padding: 2vh 1vw;
        }
        h4 {
            font-size: 3.5vh;
            margin: 0 0 0 0;
        }
        .mdl-data-table {
            white-space: normal;
        }
        .mdl-badge[data-badge]:after {
            height: 6vh;
            width: 6vh;
            font-size: 4vh;
            z-index: 5;
            margin-right: 1vw;
            font-family: 'Icons';
        }
        .mdl-badge.unlock[data-badge]:after {
            background-color: rgb(255, 208, 0);
        }
        .mdl-badge.check[data-badge]:after {
            background-color: rgb(13, 102, 13);
        }
        .mdl-badge.lock[data-badge]:after {
            background-color: rgb(201, 26, 26);
        }
        .lock > .mdl-card {
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            opacity: 0.8;            
        }
        .check > .mdl-card {
            background-color: #faeded;
            opacity: 0.8;
        }
        .check > .mdl-card > .mdl-card__media {
            background-color: #faeded;
        }
        .level {
            margin:1.5vh;
        }
        .skill {
            color: white;
            font-size: 2.5vh;
            width: 85%;
            word-wrap: break-word;
            margin: 0;
        }
        .card-title {
            text-align:center;
            font-size:5vh;
            justify-content:center;
            padding-right: 0;
            padding-left: 0;
        }
        .card-image {
            display: block;
            margin: auto;
            height: 30vh;
        }
        .card-minutes {
            text-align: center;
            width: 100%;
            font-size: 2.5vh;
            padding-left: 0;
            padding-right: 0;
        }
        .mdl-button.card-button {
            display: block;
            margin: auto;
            font-size: 3vh;
            width: 80%;
            height: 10vh;
        }
        .level-text {
            font-size: 7vh;
            text-align: center;
            line-height: 7vh;
        }
        .nav-icon {
            font-size: 10vh;            
        }
        .mdl-button.nav-button{
            height: 100%;
            width: 95%;
        }
        .mdl-button.next-button {
            float: right;
        }
        .mdl-button.prev-button {
            float: left;
        }
        .mdl-tabs__tab {
            font-size: 3vh;
        }
    </style>
{% endblock %}

{% block navbar %}
    <a class="mdl-navigation__link" href="/about" style="font-size: 3vh;">About</a>
    <a class="mdl-navigation__link" href="/logout" style="font-size: 3vh;">Log Out</a>
{% endblock %}

{% block drawer %}
    <a class="mdl-navigation__link" href="/about" style="font-size: 3vh;">About</a>
    <a class="mdl-navigation__link" href="/logout" style="font-size: 3vh;">Log Out</a>
{% endblock %}

{% block content %}
    <dialog id="alertDialog" class="mdl-dialog">
        <h3 id="alertDialogTitle" align="center" class="mdl-dialog__title"></h3>
        <div id="the_dialog_div" class="mdl-dialog__content">
            <p align="center" style="margin: 0 0 0 0;"><img id="alertDialogImage" style="height:25vh;"></p>
            <p align="center" id="alertDialogTime" style="margin: 0 0 0 0; font-size: 2vh;"></p>
            <h4>Skills</h4>
            <div style="height:1vh;"></div>
            <div id="skillsGrid"></div>
            <div style="height:1.5vh;"></div>
            <h4>Ingredients</h4>
            <div id="ingredientGrid"></div>
            <div style="height:1.5vh;"></div>
            <h4>Equipment</h4>
            <div id="equipmentGrid"></div>
            <div style="height:1.5vh;"></div>            
            <h4>Instructions</h4>
            <table class = "mdl-data-table mdl-js-data-table">
                <tbody id="instructionsTable"></tbody>
            </table>
        </div>
        <div class="mdl-dialog__actions">
            <button id="alertDialogButton" class="mdl-button mdl-js-button mdl-js-ripple-effect" style="height: 8vh; width: 19vw; background-color: lightgray; font-size: 3vh;">Start Cooking!</button>
            <button id="alertCloseButton" class="mdl-button mdl-js-button mdl-js-ripple-effect" style="height: 8vh;width: 19vw; font-size: 3vh;">Close</button>
            <button id="scrollDownButton" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" style="height: 8vh; width: 19vw; font-size: 3vh;">Scroll Down</button>
            <button id="scrollUpButton" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" style="height: 8vh;width: 19vw; font-size: 3vh;">Scroll Up</button>
        </div>
    </dialog>
    <div id="dashboard" class="mdl-tabs mdl-js-tabs">
        <div id="tabBar" class="mdl-tabs__tab-bar mdl-color--white">
           <a href="#tab1-panel" class="mdl-tabs__tab is-active">Eggs</a>
           <a href="#tab2-panel" class="mdl-tabs__tab">Chicken</a>
           <a href="#tab3-panel" class="mdl-tabs__tab">Bread</a>           
        </div>
    </div>
{% endblock %}
