{% extends 'templates/base.html' %}

{% block includes %}

{% endblock %}

{% block content %}
    <div class = "mdl-tabs mdl-js-tabs">
        <div class = "mdl-tabs__tab-bar mdl-color--white">
           <a href = "#tab1-panel" class = "mdl-tabs__tab is-active">Eggs</a>
           <a href = "#tab2-panel" class = "mdl-tabs__tab">Chicken</a>
           <a href = "#tab3-panel" class = "mdl-tabs__tab">Other Track</a>
        </div>
     
        <div class = "mdl-tabs__panel is-active" id = "tab1-panel">
           <p>Tab 1 Content</p>
        </div>
     
        <div class = "mdl-tabs__panel" id = "tab2-panel">
           <p>Tab 2 Content</p>
        </div>
     
        <div class = "mdl-tabs__panel" id = "tab3-panel">
           <p>Tab 3 Content</p>
        </div>
    </div>
{% endblock %}