{% extends 'templates/base.html' %}

{% block includes %}
    {% load static %}
        <script type="text/javascript" src="{% static 'js/login.js' %}"></script>
{% endblock %}

{% block content %}
    <div style="vertical-align:center;">
        <p align="center" style="font-size:36px;">Stuff goes here</p>
        <p align="center" style="font-size:36px;">Stuff goes here</p>
        <p align="center" style="font-size:36px;">Stuff goes here</p>
        <p align="center" style="font-size:36px;">Stuff goes here</p>
        <p align="center" style="font-size:36px;">Stuff goes here</p>
        <p align="center" style="font-size:36px;">Stuff goes here</p>
        <p align="center" style="font-size:36px;">Stuff goes here</p>
        <p align="center" style="font-size:36px;">Stuff goes here</p>
        <p align="center" style="font-size:36px;">Stuff goes here</p>
        <p align="center" style="font-size:36px;">Stuff goes here</p>
        <p align="center" style="font-size:36px;">Stuff goes here</p>
        <p align="center" style="font-size:36px;">Stuff goes here</p>
        <p align="center" style="font-size:36px;">Stuff goes here</p>
        <p align="center" style="font-size:36px;">Stuff goes here</p>
        <p align="center" style="font-size:36px;">Stuff goes here</p>
        <p align="center" style="font-size:36px;">Stuff goes here</p>
        <p align="center" style="font-size:36px;">Stuff goes here</p>
        <p align="center" style="font-size:36px;">Stuff goes here</p>
        <p align="center" style="font-size:36px;">Stuff goes here</p>
        <p align="center" style="font-size:36px;">Stuff goes here</p>
        <p align="center" style="font-size:36px;">Stuff goes here</p>        
    </div>
{% endblock %}